html {
    scroll-behavior: smooth;
}
html,
body {
    background: rgb(30, 30, 30);
    color: white;
    overflow-x: hidden;
}

main {
    margin-top: 2em;
}

.bg-dark {
    background-color: black !important;
}
.card {
    position: relative;
}

.card .badge {
    position: absolute;

    top: 1em;
    left: 1.25em;

    box-shadow: 5px 10px 8px #0000005a;
}

.modal-header h5 {
    color: black !important;
}

.modal label {
    color: black;
}
